!.container, #sidebar, #content {
    border: 1px solid #ccc;
}

body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
p { font-size: 13px; line-height: 18px; margin-bottom: 20px; color: #666; }
h1 { font-weight: 300; color: #999; }
h2 { color: #555; margin-bottom: 20px; font-weight: 500; }
h3 { font-size: 18px; font-weight: 500; line-height: 30px; }
h4 { font-size: 16px; color:#999; font-weight: 200; margin-bottom: 10px; margin-top:20px; }
h5 { font-size: 14px; font-weight: 200; color: #999; padding-left: 20px; }
ul { list-style-type: none; display: inline; }

#header { margin-bottom: 20px; }
#sidebar { text-align: right; position: fixed; width: 200px; }
.container { padding-top: 30px; }
.section { margin-bottom: 50px; }
.thumbnail { width: 210px; margin-right: 10px; }
.quote { font-size: 18px; font-style: italic; color:#ccc; font-weight: 200; }

a, a:link, a:visited, a:active, a:hover { text-decoration: none; }